@model Employee

@{
    ViewData["Title"] = @Model.FirstName + " " + @Model.Surname;
}

<h1>Employee Detail <a href="/employee/index">Go Back</a></h1>

<ul class="list-group list-group-flush">
    <li class="list-group-item">First Name : @Model.FirstName</li>
    <li class="list-group-item">Sur Name : @Model.Surname</li>
    <li class="list-group-item">Address : @Model.Address</li>
    <li class="list-group-item">Gender : @Model.Gender</li>
    <li class="list-group-item">Salary : @Model.Salary</li>
</ul>