@model Employee


@{
  ViewData["Title"] = @Model.FirstName + " " +  @Model.LastName;
}
<h1>Employee Details <a href="/employee/index">Go Back</a></h1>
<ul class="list-group">

  
  <li class="list-group-item list-group-item-primary">First Name: @Model.FirstName</li>
  <li class="list-group-item list-group-item-secondary">Last Name: @Model.LastName</li>
  <li class="list-group-item list-group-item-success">Address: @Model.Address</li>
  <li class="list-group-item list-group-item-danger">Gender: @Model.Gender</li>
  <li class="list-group-item list-group-item-warning">Salary: @Model.Salary</li>

  
</ul>