@model List<Employee>



<h1>Displaying all employees...</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    @for (int i=0; i< Model.Count; i++)
    {
       <tr>
         <td>

           <a href="/employee/details?firstName=@Model[i].FirstName"> @Model[i].FirstName</a>
           <td>@Model[i].Surname</td>
           <td>@Model[i].Address</td>
           <td>@Model[i].Gender</td>
           <td>@Model[i].Salary</td>
         </td>
       </tr>  
    }
  </tbody>
</table>